	<div class="container">
    <div class="row">
      <div class="col s12">
        <div id="favorites-div">
          <ul>
            {{#each items}}
              {{#if saved}}
                <li class="item" data-id="{{this._id}}">
                  <a data-id="{{this._id}}" href="{{this.link}}" target="_blank">
                    <h2 data-id="{{this._id}}">
                      {{this.title}}
                    </h2>
                    <img class="responsive-img list-image" src="{{this.image}}">
                  </a>

                  <button type="submit" class="note-modal-btn" data-id="{{this._id}}" data-target="note-modal">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>

                  <form action="/favorites/{{this.id}}" method="POST">
                    <input type="hidden" name="saved" value="false">
                    <button type="submit" href="#fave-alert" data-id="{{this._id}}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </form>
                </li>
              {{/if}}
        		{{/each}}
      		</ul>

          <!-- Notes Modal -->
          <div id="note-modal" class="modal">
            <div class="modal-content">
              <div id="display-notes">
                
              </div>

              <div id="notes">
                
                </div>
                
              </div>
            <div  class="modal-footer center-align">
              <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>